/*This CSS page is for all HTML pages.*/

/*Navigation Menu*/
#nav_menu ul {
    list-style-type: none;
    display: flex;
}

#nav_menu ul li {
    width: 33%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: brown;
    color: white;
    font-weight: bold;
    border-right: 20px solid #ffd4b9;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#nav_menu ul li a:hover {
    background-color: #fe6d13;
}
/*End of Navigation Menu*/


body {
    font-size: 150%;
    font-family: sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    list-style-position: inside;
    background-color: #ffd4b9;
}

footer {
    font-size: 80%;
}

a:visited {
    color: rgb(0, 0, 0);
}

a:link {
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: solid;
}

@media only screen and (max-width: 1127px) {
    #nav_menu ul {
        flex-direction: column;
    }

    #nav_menu ul li {
        width: 100%;
    }

    #nav_menu li {
        margin: 0 15px 15px 0;
    }
}