#nav_menu {
    margin: auto;
    width: 100%;
    padding-bottom: 100px;
}

#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
    width: 33%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: brown;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-right: 20px solid white;
}

#nav_menu ul li a:hover {
    background-color: grey;
}

body {
    font-size: 150%;
    font-family: sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    list-style-position: inside;
}

img {
    width: 50%;
    min-width: 300px;
}



.size {
    font-size: 95%;
}

main {
    color: rgb(255, 255, 255);
    padding: 20px;
    background-image: url(images/smoke.jpg);
    clear: left;
    margin-top: 25px;
}


h1,
h2 {
    color: rgb(0, 0, 0);
    margin: 0;
}

h1 {
    padding-top: 10px;
    }

h2 {
    padding-bottom: 10px;
}

footer {
    font-size: 80%;
    border: 2px solid rgb(0, 0, 0);
}

/*Allows the list items to be vertical for better viewing when viewport is less than 670px*/
@media only screen and (max-width: 900px) {
    #nav_menu ul li {
    float: none;
    width: 100%;
    padding-top: 10px;
}
}