/*Navigation Menu*/
#nav_menu ul {
    list-style-type: none;
    display: flex;
}

#nav_menu ul li {
    width: 33%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: brown;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-right: 20px solid #ffd4b9;
    ;
}

#nav_menu ul li a:hover {
    background-color: #fe6d13;
}

/*End of Navigation Menu*/

body {
    font-size: 150%;
    font-family: sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    list-style-position: inside;
    background-color: #ffd4b9;
}

#sidebarA {
    width: 32%;
    float: left;
    padding-right: 10px;
}

main {
    width: 32%;
    float: left;
    border-left: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
    padding-right: 10px;
}

#sidebarB {
    width: 32%;
    float: left;
}

footer {
    font-size: 80%;
}

a:visited {
    color: rgb(0, 0, 0);
}

a:link {
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: solid;
}

img {
    width: 85%;
}

br {
    clear: both;
}

/*Used media query to fix issue where sidebarB gets pushded down when the viewport is less than 660px. Can now scroll between different recipes. Removed borders since no longer needed in vertical view.*/
@media only screen and (max-width: 900px) {
    #nav_menu ul {
        flex-direction: column;
    }

    #nav_menu ul li {
        width: 100%;
    }

    #nav_menu li {
        margin: 0 15px 15px 0;
    }
}

@media only screen and (max-width: 670px) {
    #sidebarB {
        float: none;
        width: 100%;
    }

    main {
        float: none;
        width: 100%;
        border: none;
    }

    #sidebarA {
        float: none;
        width: 100%;
    }

    h2 {
        font-size: 250%;
    }
}