/*A type selector and Use at least 2 properties that style fonts*/
body {
    font-family: sans-serif;
    margin: 0%;
    text-align: center;
    list-style-position: inside;
}

/*An Class Selector*/
/*least 2 properties that style fonts*/
/*Use only relative units of measurement*/
.size {
    font-size: 95%;
}

/*A relational selector*/
nav ol a:hover {
    text-decoration: solid;
}

/*pseudo-class selector*/
a:visited {
    color: rgb(255, 255, 255);
}

/*•	Specify colors with RGB values or hex codes*/
main {
    background-color: #3c3c3c;
    color: rgb(255, 255, 255);
}

/*A combination selector*/
h1,
h2 {
    color: black;
    margin: 0;
}