body {
    font-size: 150%;
    font-family: sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    list-style-position: inside;
}

#nav_menu {
    margin: auto;
    width: 100%;
}

#nav_menu ul {
    list-style-type: none;
}

#nav_menu ul li {
    float: left;
    width: 33%;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;
    text-decoration: none;
    background-color: brown;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-right: 20px solid white;
}

#nav_menu ul li a:hover {
    background-color: grey;
}
@media only screen and (max-width: 900px) {
    #nav_menu ul li {
    float: none;
    width: 100%;
    padding-top: 10px;
}
}


/* FOR NEXT ASSIGNEMNT 
ul {
    display: inline-flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background: brown;
    width: 150px;
    margin: 0 15px 15px 0;
    padding: 1em 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

li:hover {
    background-color: grey;
}
*/
